<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
</h:head>
<h:body>
	<h:form id="login" action='/ControlUsuarios/j_spring_security_check' method='POST'>
	<h:panelGrid column="1">
		<p:panel id="basic" header="Login" style="width: 500px; text-align:center">
			<p:growl id="growl" sticky="true" showDetail="true" life="2000" />
			<h:panelGrid columns="2" cellpadding="5">
				<input type="text" name="j_username" maxlength="50" placeholder="Username" value='' /> 
				<input type="password" name='j_password' maxlength="35" placeholder="Password" value='' />
				<f:facet name="footer">
					<p:commandButton value="Login" update="growl" immediate="true" onclick="javascript: submitform()" action="#{loginViewController.login}"/>
				</f:facet>
			</h:panelGrid>
		</p:panel>
		</h:panelGrid>
	</h:form>
</h:body>
<script type="text/javascript">
function submitform()
{
  document.login.submit();
}
</script>
</html>